<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Magic the Gathering: Mechanic Storm Scale Chart</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="container">
      <h1>Magic the Gathering: Mechanics Storm Scale Chart</h1>
      <p>Adapted from <a href="http://i.imgur.com/S3GZDPi.jpg">this image</a> created by <a href="http://www.reddit.com/user/justhereforhides">justhereforhides</a>.</p>
      <p>Those of you who read <a href="http://markrosewater.tumblr.com/">Mark Rosewater's blog</a> probably know the <a href="http://magic.wizards.com/en/articles/archive/making-magic/storm-scale-khans-tarkir-block-2016-02-29">Storm Scale</a>. If you don't, you should start reading it. It's pretty good. Anyway, the Storm Scale rates Maro's subjective estimation of how likely it is for a certain mechanic/theme/card to be (re-)printed in an expert expansion on a scale from 1 to 10:</p>
      <ol class="scale" start="0">
        {{range $index, $element := .Scale }}
        <li class="rating-{{$index}}"><span>{{$element}}<span></li>
        {{end}}
      </ol>
      <table id="mechanics">
        <thead>
          <tr>
            <th class="effect">Effect</th>
            <th class="rule">Rules Text</th>
            <th class="blocks">Blocks</th>
            <th class="card">Example</th>
            <th class="rating">Rating</th>
          </tr>
        </thead>
        <tbody>
          {{range .Items}}
          <tr>
            <td class="effect"><a href="#{{.Anchor}}">{{.Effect}}</a></td>
            <td class="rule">{{.RulesText}}</td>
            <td class="blocks">{{range .Blocks}}{{.}}</br>{{end}}</td>
            <td class="card"><a href="{{.CardURL}}"><img src="{{.CardURL}}" /></a></td>
            <td class="rating rating-{{.Rating}}">{{.Rating}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>

