<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Magic the Gathering: Mechanic Storm Scale Chart</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="container">
      <h1>Magic the Gathering: Mechanics Storm Scale Chart</h1>
      <p>Those of you who read <a href="http://markrosewater.tumblr.com/">Mark Rosewater's blog</a> probably know the Storm Scale. If you don't, you should start reading it. It's pretty good. Anyway, the Storm Scale rates Maro's subjective estimation of how likely it is for a certain mechanic/theme/card to be (re-)printed in an expert expansion on a scale from 1 to 10:</p>
      <ol>
        <li>It’s definitely coming back one day.</li>
        <li>I would be shocked if we never see it again.</li>
        <li>I would be surprised if we never see it again.</li>
        <li>It will probably return one day.</li>
        <li>Slightly more likely to return than not.</li>
        <li>It could return if we find the right set for it.</li>
        <li>It could return but it’s far from sure.</li>
        <li>Unlikely but not impossible.</li>
        <li>Perhaps it could return if we find the perfect set.</li>
        <li>I highly doubt we will ever see it again.</li>
      </ol>
      <table id="mechanics">
        <thead>
          <tr>
            <th>Effect</th>
            <th>Rules Text</th>
            <th>Blocks</th>
            <th>Example</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {{range .Items}}
          <tr>
            <td class="effect">{{.Effect}}</td>
            <td class="rule">{{.RulesText}}</td>
            <td class="blocks">{{range .Blocks}}{{.}}</br>{{end}}</td>
            <td><img src="{{.CardURL}}" /></td>
            <td class="rating rating-{{.Rating}}">{{.Rating}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>

